@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(assets/fonts/Roboto-Light.ttf);
}
* {
  font-family: Roboto-Regular;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.logo {
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.build-logo {
  font-family: Roboto-Bold;
  font-size: 24px;
  color: orange;
  padding-left: 10px;
  border-top: 4px solid rgb(86, 142, 142);
  border-left: 4px solid rgb(86, 142, 142);
  border-bottom: 4px solid rgb(86, 142, 142);
}
.estate-logo {
  font-size: 24px;
  color: rgb(86, 142, 142);
  font-family: Roboto-Bold;
}
.main-nav {
  background-color: rgb(127, 194, 247);
  font-family: Roboto-Bold;
  width: 90%;
  margin: 10px auto 25px auto;
  padding: 10px;
}
.main-nav-list {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}
.main-nav-list a {
  font-family: Roboto-Bold;
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 6px;
}
.banner {
  text-align: center;
  font-size: 22px;
  background: url(./assets/images/banner3.jpg);
  background-size: cover;
  height: 240px;
  /* justify-items: center; */
  align-content: center;
  color: white;
}
.banner p {
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 1px;
  padding-top: 12px;
}
.banner button {
  width: 120px;
  background-color: rgb(28, 112, 177);
  border: none;
  border-radius: 20px;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  position: relative;
  top: 25px;
}
.section-title {
  justify-items: center;
  margin-top: 40px;
}
.section-title h2 {
  font-family: Roboto-Light;
  font-size: 26px;
}
.who-we-are {
  width: 85%;
  margin: auto;
  margin-bottom: 100px;
}
.who-we-are-box h3 {
  color: rgb(80, 160, 225);
  margin-bottom: 20px;
  margin-top: 10px;
}
.who-we-are-box p {
  font-family: Roboto-Bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgb(88, 80, 80);
}
.list {
  margin-top: 20px;
}
.list p {
  line-height: 30px;
  color: rgb(120, 120, 120);
}
.list span {
  color: rgb(255, 152, 1);
}
.who-we-are-box img {
  padding-top: 30px;
  padding-bottom: 5px;
  width: 100%;
  object-fit: cover;
}
.testimony {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
.testimony-card {
  width: 100%;
  font-family: Roboto-Bold;
  background-color: rgb(127, 194, 247);
  height: 170px;
  padding-top: 22px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.testimony-card-upper-half {
  display: flex;
}
.testimony-card img {
  margin-right: 20px;
  padding: 3px;
  border: 3px solid white;
  border-radius: 33px;
  width: 55px;
  height: 55px;
}
.testimony-card-upper-half div {
  padding-top: 10px;
}
.name {
  font-family: Roboto-Bold;
  font-size: 14px;
}
span {
  font-size: 100%;
  color: white;
}
.lorem {
  font-family: Roboto-Bold;
  font-size: 13px;
  color: white;
  line-height: 25px;
}
.get-in-touch {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.get-in-touch-box {
  width: 50%;
  height: 170px;
  color: white;
  justify-items: center;
  padding-top: 25px;
}
.get-in-touch-box img {
  height: 15px;
}
.get-in-touch-box h2 {
  font-family: Roboto-Light;
  font-size: 18px;
  padding: 7px;
}
.get-in-touch-box p {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 7px;
}
.social-networks {
  padding-top: 20px;
  letter-spacing: 20px;
}
.get-in-touch-box:nth-child(1) {
  background-color: rgb(44, 221, 152);
}
.get-in-touch-box:nth-child(2) {
  background-color: rgb(255, 79, 129);
}
.get-in-touch-box:nth-child(3) {
  background-color: rgb(51, 105, 230);
}
.get-in-touch-box:nth-child(4) {
  display: flex;
  background-color: rgb(127, 194, 247);
  justify-content: center;
  align-items: center;
  padding: 0;
}
.get-in-touch-box:nth-child(5) {
  padding: 0;
  width: 100%;
  height: 270px;
}
.get-in-touch-box:nth-child(4) img {
  height: 100%;
}
.mail-us {
  width: 90%;
  margin: auto;
  padding-top: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input {
  width: 100%;
  padding: 10px;
}
.contact-form textarea {
  width: 100%;
  padding: 10px;
  height: 130px;
}
.contact-form p {
  margin-top: 3px;
  margin-bottom: 17px;
}
.contact-form button {
  background-color: rgb(255, 152, 1);
  width: 100px;
  height: 30px;
  border: none;
  color: white;
}
footer {
  background-color: rgb(33, 33, 33);
  align-content: center;
  justify-items: center;
  color: white;
  font-size: 12px;
  height: 150px;
}
.footer-nav {
  padding-top: 25px;
  padding-bottom: 15px;
  word-spacing: 10px;
  letter-spacing: 1px;
}
.rights {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}
footer .footer-nav a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 769px) {
  .logo {
    position: absolute;
    left: 30px;
    top: 10px;
  }
  .build-logo {
    font-family: Roboto-Bold;
    font-size: 30px;
    color: orange;
    padding-left: 10px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
  }
  .estate-logo {
    font-size: 30px;
    color: white;
    font-family: Roboto-Bold;
  }
  .main-nav {
    position: absolute;
    top: 25px;
    right: 20px;
    width: unset;
    margin: 0;
    background-color: unset;
  }
  .main-nav-list {
    display: unset;
  }
  .banner {
    height: 430px;
  }
  .banner p {
    font-size: 30px;
  }
  .banner button {
    font-size: 15px;
    width: 150px;
    padding: 10px 20px;
  }
  .section-title {
    margin-top: 60px;
  }
  .section-title h2 {
    font-family: Roboto-Light;
    font-size: 32px;
  }
  .who-we-are {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .who-we-are-box {
    width: calc((100% / 2) - 5px);
    padding-right: 7px;
    padding-left: 7px;
  }
  .who-we-are-box:nth-last-child(1) {
    width: 100%;
  }
  .who-we-are h3 {
    font-family: Roboto-Light;
    margin-top: 0;
  }
  .who-we-are p {
    line-height: 25px;
  }
  .list p {
    line-height: 35px;
    letter-spacing: 1px;
  }
  .who-we-are img {
    padding-top: 0;
    padding-bottom: 0;
  }
  .testimony {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .testimony-card {
    height: 250px;
    width: calc((100% / 2) - 15px);
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .testimony-card img {
    height: 90px;
    width: 90px;
    border-radius: 45px;
  }
  .name {
    font-size: 15px;
  }
  .lorem {
    font-size: 14px;
    line-height: 28px;
  }
  .get-in-touch-box:nth-child(5) {
    height: 320px;
  }
  .input-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .input-fields p {
    width: 32%;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 680px;
  }
  .banner p {
    font-size: 42px;
    margin-top: 50px;
  }
  .section-title h2 {
    font-family: Roboto-Light;
    font-size: 32px;
  }
  .who-we-are {
    width: 75%;
  }
  .who-we-are-box {
    width: calc((100% / 3) - 15px);
  }
  .who-we-are-box:nth-last-child(1) {
    width: calc((100% / 3) - 15px);
  }
  .list p {
    line-height: 30px;
  }
  .testimony {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    margin-top: 10px;
  }
  .testimony-card {
    height: 200px;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 40px;
  }
  .testimony-card img {
    border-radius: 33px;
    width: 74px;
    height: 74px;
    border-radius: 37px;
  }
  .name {
    font-size: 14px;
  }
  .lorem {
    font-size: 12px;
    line-height: 25px;
  }
  .get-in-touch-box {
    width: 25%;
  }
  .mail-us {
    width: 70%;
  }
}
