* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}
h1 {
  padding: 20px 50px;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 24px;
  padding: 15px 0;
  margin-top: 30px;
}
.card {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel img {
  width: 500px;
  border: 3px solid grey;
}
.carousel button {
  background-color: transparent;
  padding: 5px 15px;
  color: darkgreen;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.card h3,
.card h5 {
  text-align: center;
  cursor: pointer;
}
