* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  justify-self: center;
}
.header {
  width: 100%;
  color: white;
  background-color: #3e3e42;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
}
.header h3 {
  font-size: 1.2em;
  margin: 0;
}
.header .wrapper {
  position: relative;
}
.header .search-results {
  position: absolute;
  /* bottom: -20px; */
  background-color: white;
  color: black;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.main h2 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 0.8em;
}
.showDetailsName {
  width: 80%;
}
.showDetailsImageYear {
  display: flex;
  justify-content: space-between;

  width: 80%;
}
.showDetailsName h2 {
  padding-bottom: 0.8em;
}
.showDetailsPoster {
  width: 65%;
}
.showDetailsPoster img {
  max-width: 100%;
}
.showDetailsPlot {
  margin-bottom: 0.8em;
  width: 80%;
}
li {
  text-indent: 1em;
}
#cardGridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em;
  justify-content: space-between;
  font-size: 0.8em;
  width: 80%;
}
h4 {
  /* font
  margin-top: 0.7em; */
  margin-bottom: 0.7em;
}
.footer {
  color: white;
  background-color: #3e3e42;
  padding: 1em;
  justify-items: center;
  width: 100%;
}

h3 {
  font-size: 1.4em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
